<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
            <label for="userName">Username</label>
            <input name="userName" placeholder="email" type="email" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <button>Sign Up</button>
        </form>
        <div>
            <a href="/api/v1/login">Log in</a>
        </div>
    </body>
</html>
